.resources-image {
  position: absolute;
    width: 300px;
  	margin-top: $base-padding;
    margin-right: $base-padding;
    margin-left: $base-padding;
}

.vision-board {
    top: 80px;
    left: 355px; 
}
.goal-setting {
    position: relative;
}
.motivation {
    position: relative;
}
.organization {
    position: relative;
}
.dream-goal {
    position: relative;
}
.affirmations {
    position: relative;
}





