.container {
	max-width: 678px;
}

.page {
	margin-left: 40px;
	// margin-right: $base-padding;

	@media screen and (max-width: $screen-sm-min) {
		margin-left: 40px;
		// margin-right: $base-padding;
	}
	padding-top: 75px;
	background: white;
}
.form-control {
	@media screen and (max-width: $screen-xs-min) {
		width: 100%;
	}
	max-width: 400px;
}