$base-padding: 15px;

// Colors
$seafoam-light: #f7fcf0;
$seafoam-mid: #e0f3db;
$seafoam-dark: #ccebc5;
$green: #a8ddb5;
$blue-green: #7bccc4;
$blue-light: #4eb3d3;
$blue-mid: #2b8cbe;
$blue-dark: #0868ac;
$navy: #084081;
$eggshell-blue: #e6f9ff;

$gray-mid: #ebebeb;


$lightbulb-sea: #c0fef7; // rgb(192,254,247)

// Colors w Opacity

$whitesmoke-transparent: rgba(245,245,245, 0.85);
$seafoam-light-transparent: rgba(247,252,240,0.85);
$seafoam-mid-transparent: rgba(224,243,219, .85);


