<div>
  <div ng-include="'components/navbar/navbar.html'" ></div>
  <div ng-include="'components/sideNav/sideNav.html'" ></div>
  <div class="page">
  <div class="container">
    <div class="mainText row">
      <h1 id="titleBody"> </h1>
      <img class="hero-image" src="assets/images/dream_brighter_future_by_cameofx.png"/>
      <p id="textBody">Think Dream Tank is a crowd sourced and community led project that aims to create a space where people from any background can dream about their future and share a conversation about their dreams and hopes with others.</p>
      <p>Specifically, this project aims to:</p>
      <ul class="list-primary">
        <li><strong>Develop</strong> a virtual and physical space where time is spent developing one’s dreams and goals for the future.</li>
        <li><strong>Explore</strong> and develop helpful resources as well as understand barriers to creativity and achievement.</li>
        <li><strong>Build</strong> a network to foster learning about our shared dreams.</li>
      </ul>
      <p></p>

      <!--<button >--> <a class="btn btn-primary" ng-hide="isLoggedIn" href="/login">Login</a></button>
      <a class="btn btn-facebook" ng-hide="isLoggedIn" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </a>
    </div>

    <section class="row" ng-if="!formSubmitted">
      <form class="thing-form">
        <h4><label>Tell us about your goals and dreams for the future...</label></h4>

        <formgroup>
          <label>What are your Dreams for the future?</label>
          <textarea type="text" class="form-control input-dream" ng-model="dreaming.future"></textarea>
          <label>What shared Goals do you think we should work on?</label>
          <textarea type="text" class="form-control input-dream" ng-model="dreaming.world"></textarea>

          <span>
            <button type="submit" class="btn btn-primary btn-large" ng-click="addDreams()">Share goals and dreams</button>

            <button class="btn btn-success" ng-click="openWarmupModal()">Need a pre-dream warm-up?</button>
          </span>
        </formgroup>
      </form>
    </section>

    <section class="row" ng-if="formSubmitted">
      <h3>Thanks for sharing your goals and dreams with the world.</h3>
      <p>To see other people's goals and dreams, <a href="/signup">sign up</a></p>
      <p>OR</p>
      <a class="btn btn-facebook" ng-hide="isLoggedIn" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </a>

    </section>

    <footer></footer>
  </div>
  </div>
</div>






