.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.landing-wrapper{
    position:absolute; color:white; font-family:helvetica; font-weight:100;
}

.navbar-default{
    border-color: transparent;
    border-width:0px;
}

.not-landing .navbar-default{
      background-color: transparent;

}

.input-dream {
    margin-bottom: $base-padding;
}

.hero-image {
    width: 300px;
    float: left;
    margin-right: $base-padding;
}

.list-primary {
    list-style-type: none;
}

@media screen and (max-width: $screen-sm-min) {
    .hero-image {
        width: 80%;
        margin-left: 10%;
        margin-bottom: $base-padding;
    }

    p, 
    .row {
        margin-left: $base-padding;
        margin-right: $base-padding;
    }
}

@media screen and (max-width: $screen-xs-min) {
    .hero-image {
        width: 100%;
        margin-left: 0;
    }
}

.community-image {
    width: 90%;
    float: left;
    margin-right: $base-padding;
    margin-left: $base-padding;
}
.brainstorm-image {
    width: 90%;
    float: left;
    margin-right: $base-padding;
    margin-left: $base-padding;
}
.modal {
    width: 80%;
}
 
