<!DOCTYPE html>
<html>
    <head>
        <title>warmup</title>

<!--<div>Pre-dream warm-up text here.</div>-->
</head>
     <div class="texty">
 	<h3 id="title2"> Affirm and Inspire </h3>
    <body id="textBody">

	<p>• Take one minute to put yourself in a place of acceptance, a place of positivity where anything is possible.</p>
</div>
<!-- <div ng-app="App">
  <div ng-controller="CarouselDemoCtrl" id="slides_control">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <h4>Slide {{$index+1}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>  
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script> -->

     <div class="texty">
 	<h3 id="title2"> Values, Community and Shared Goals</h3>
    <body id="textBody">
    </div>
    <img class="community-image" src="assets/images/community.png"/>
	
    <p>• Take one minute to think about what you need, what you value, and what is important to you and your community.</p>   
	
	<p>• Dream about what the ideal future would look like. How might the environment change so that we are all free to pursue our personal and shared dreams and goals?</p>
	<img class="world-image" src="assets/images/world.png"/>
	<p>What does your</p>
<ul><li> Community</li> 
	<li> Region </li> 
	<li> World look like?</li>
</ul>


<h3 id="title3"> Dream Brainstorm</h3>
 	<body id="textBody">
 <div class="texty">
	<p>• Take 5-8 minutes to put your dreams and goals on paper. Feel free to brainstorm with lists, drawings, figures etc., whatever you need to get the ideas flowing. This will be yours to keep and private to you. Your dreams may look very different today then tomorrow and that is okay. You’re just trying to get the ideas flowing and on paper. </p>

<p>• Include ideas about your dreams and goals as well as shared goals you think  would improve the future for everyone</p>
<p>• You will be answering the following questions: </p>
<p> What are your Dreams for the future? (248 characters) </p>
<p> What shared Goals do you think we should work on? (248 characters)</p>
</div>

<button class="btn btn-warning" ng-click="$dismiss()">
	Close
</button>