<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/sideNav/sideNav.html'" ></div>

<div class="page">
	<section class="container">
		<h3>What shared goals do you think we should work on?</h3>
		<div class="goals-paired">
			<p>{{goal}}</p>
			<rzslider rz-slider-model="slider.value" rz-slider-options = "sliderOptions"></rzslider>
		</div>
		<div class = "row">
			<button class="btn btn-primary col-md-4" ng-click="newGoals()">Get a new goal</button>
			<button class="btn btn-primary col-md-4" ng-click="submitGoal()">Submit Vote</button>
			<button class="btn btn-danger col-md-2" ng-click="flagDream(dream)"> Flag Goal </button>
			<div ng-if="voted">You voted!</div>
		</div>
		<div class = "row">
			<p> Welcome {{userInfo.name}}! Here are your goals: </p>
				<ul ng-repeat="dream in userDreams">
					<li>{{ dream.world}}</li>
				</ul>
		</div>
	</section>
</div>
